@keyframes bounceInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 4rem, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  animation: bounceInUp 0.2s linear;
}

[contenteditable="true"],
input,
textarea {
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
}

*:focus {
  oulilne: none;
}

html,
body {
  position: relative;
  overflow-y: hidden;
}

#send-title,
#send-content {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: .8125rem 0;
  border: none;
  border-radius: 0;
  font-size: .875rem;
}

#send-title {
  width: 94%;
  margin: 0 3%;
  height: 2.8125rem;
  border-bottom: solid 1px #a4cafa;
  color: #ccc;
}

#send-content {
  display: block;
  width: 100%;
  color: #333;
  overflow-y: scroll;
  resize: none;
}

.nav {
  width: 94%;
  margin: 0 3%;
  position: relative;
}

.nav>div {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
  height: 1rem;
  line-height: 1rem;
  background: #fff;
  position: absolute;
  bottom: .3125rem;
  left: 0;
  z-index: 2;
  text-align: right;
  font-size: .6875rem;
  color: #ccc;
}

.action-menu,
.action-list {
  width: 100%;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  background: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.action-list {
  display: none;
  border-bottom: none;
}

.action-t {
  width: 100%;
  height: 2.71875rem;
  background: #fff;
}

.action-menu button,
.action-list button {
  display: block;
  width: 3.125rem;
  height: 100%;
  border: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #fff;
}

button#more {
  float: left;
  background-image: url('../image/more.png');
}

button#close {
  float: left;
  background-image: url('../image/close.png');
}

button#blur {
  float: right;
  border-left: solid 1px #aaa;
  background-image: url('../image/keyboard.png');
}

.action-b {
  width: 100%;
  height: 0;
  border-top: solid 1px #ccc;
  background: #f5f4f6;
}

.action-b ul {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
  width: calc(100% - 2.1875rem);
  height: 100%;
}

.action-b ul li {
  display: block;
  float: left;
  width: calc(100% / 4);
  height: 7rem;
  text-align: center;
}

.action-b ul li a {
  display: block;
  width: 3.6875rem;
  height: 3.6875rem;
  margin: 1.5rem auto 0 auto;
  border: solid 1px #deddde;
  border-radius: .8125rem;
  background: #fff;
}

.action-b ul li a img {
  width: 100%;
  height: 100%;
}

.action-b ul li span {
  display: block;
  width: 100%;
  height: 1.5rem;
  line-height: 2rem;
  font-size: .6875rem;
  color: #6c6b6c;
}