* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0 !important;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}

li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

q:after,
q:before {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

button,
input,
select {
  outline: medium none;
  vertical-align: middle;
}

input {
  -webkit-appearance: none;
  -webkit-user-select: auto;
}

legend {
  color: #000;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body,
html {
  width: 100%;
  text-align: center;
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
}

/*媒体查询*/

@media screen and (min-width: 212px) {
  html {
    font-size: 9.088px;
  }
}

@media screen and (min-width: 319px) {
  html {
    font-size: 13.6533px;
  }
}

@media screen and (min-width: 359px) {
  html {
    font-size: 15.36px;
  }
}

@media screen and (min-width: 374px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 383px) {
  html {
    font-size: 16.384px;
  }
}

@media screen and (min-width: 399px) {
  html {
    font-size: 17.0667px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 17.7067px;
  }
}

@media screen and (min-width: 423px) {
  html {
    font-size: 18.0907px;
  }
}

@media screen and (min-width: 479px) {
  html {
    font-size: 20.48px;
  }
}

@media screen and (min-width: 539px) {
  html {
    font-size: 23.04px;
  }
}

@media screen and (min-width: 639px) {
  html {
    font-size: 27.3067px;
  }
}